<!--   <h1 class="text-center"> Mural de aniversário ♡</h1>  -->
<div class="container">
<div class="card-columns">
<% @articles.each do |article| %>


          <div class="card h-100 mt-4 text-center border-0">
            <img src="https://i.imgur.com/oWL0Kwu.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text text-justify"><%= article.description %></p>
            </div>
            <img class="card-img-bottom" src="https://i.imgur.com/8966tVk.png">
          </div>
          <% end %>
          </div>
        </div>
        <footer id="sticky-footer" class="py-4 bg-black">
        <div class="container text-center">
        <small> Feito por &copy; <%= link_to "Gabu", "https://www.twitter.com/_lunies", class: "text-white" %> </small>
        </div>
        </footer>
        
