<div id="page-content">
<div class="container" id="home-container" >
<div class="jumbotron text_center">
</div>
</div>
</div>
<footer id="sticky-footer" class="py-4 bg-black">
<div class="container text-center">
<small> Feito por &copy; <%= link_to "Gabu", "https://www.twitter.com/_lunies", class: "text-white" %> </small></div></footer>

