<div id="page-content">
     <div class="container" id="home-container">
     <iframe width="1290" height="615" src="https://www.youtube.com/embed/RAQmKOsonhc" frameborder="0" style="border:2px solid red allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <%= link_to "Recadinhos aqui ♡", articles_path, class: "badge", id: "acesso" %>
    </div>

    
  
</div>
<footer id="sticky-footer" class="bg-black">
    <div class="container text-center">
        <small> Feito por &copy; <%= link_to "Gabu", "https://www.twitter.com/_lunies", class: "text-white" %> 
        </small>
    </div>
</footer>
