@import "bootstrap";

.navbar {
    position: sticky;
    text-align: center center;
    background-color:#000000 !important;
}

.nav-link {
color: white !important;
   
}

h1 {
    color:rgba(0, 0, 0, 0.877);
}


#logo {
color:rgb(255, 255, 255);
font-size: 1.7em;
font-weight: bold;
float: left;
letter-spacing: -1px;
text-transform: uppercase;
}

#logo:hover {
  color:orangered;
  text-decoration: none;
}

#home-container {margin-top: 25px;
    height: 420px;
}


html,
  body {
    height: 100%;
  } 

#page-content {
    flex: 1 0 auto;
    background-color: lightgray;
 
}

#sticky-footer {
  color: rgba(167, 47, 93, 0.877);
 background-color:#ef7e8b;
  flex-shrink: none;
  }
