<footer id="sticky-footer" class="bg-black">
    <div class="container text-center">
        <small> Made by &copy; <%= link_to "Gabu", "https://www.twitter.com/_lunies", class: "text-white" %> 
        </small>
    </div>
</footer>