<nav class="nav fixed-top navbar-light justify-content-center">
  <%= link_to "Parabéns Patyzita! ♡", root_path, class: "navbar-brand", id: "logo" %>
 
</nav>
<div class="sticky flex full weight align-center justify-center">
<img src="https://media.discordapp.net/attachments/806930190386987038/1061067763310923807/image.png" class="avatar">
<div class="bubble bubble-bottom-left">Recadinhos especiais para a aniversariante do dia! ♡  <br/>  Playlist dos videos <a href="https://www.youtube.com/playlist?list=PLvaKikeZsOSHuNdpXBsO54vcGNyFeBrCl" target="_blank" style="color: white">aqui ♡</a></div>
</div>